.login {
  height: 100vh;
  background-image: linear-gradient(#0000007e, #0000007e),
    url(/public/background_banner.jpg);
  padding: 20px 15px;

  .login-logo {
    width: 150px;
  }

  .login-form {
    width: 100%;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 60px;
    margin: auto;

    h1 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 28px;
    }

    input {
      width: 100%;
      height: 50px;
      background-color: #333333;
      color: #ffffff;
      margin: 12px 0;
      border: 0;
      outline: 0;
      border-radius: 4px;
      padding: 16px 20px;
      font-size: 16px;
      font-weight: 500;
    }

    ::placeholder {
      font-size: 16px;
      font-weight: 500;
    }

    button {
      width: 100%;
      border: 0;
      outline: 0;
      padding: 16px;
      background-color: #e50914;
      color: #ffffff;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 500;
      margin-top: 20px;
      cursor: pointer;
    }

    .form-help {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #d3d3d3;
      font-size: 13px;

      .remember {
        display: flex;
        align-items: center;
        gap: 5px;

        input {
          width: 18px;
          height: 18px;
        }
      }
    }

    .form-switch {
      margin-top: 40px;
      color: #737373;

      span {
        margin-left: 6px;
        color: #ffffff;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

.login-spinner {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 60px;
  }
}
