.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;

  h2 {
    margin-bottom: 8px;
  }

  .card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;

    .card {
      position: relative;

      p {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #ffffff;
        background-color: #00000055;
        padding: 0 5px;
        border-radius: 5px;
        text-decoration: none;
      }

      img {
        width: 240px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .card-list::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 970px) {
  .title-cards {
    margin-top: 20px;
    margin-bottom: 0;

    h2 {
      font-size: 20px;
    }

    .card-list .card img {
      width: 200px;
    }

    .card-list .card p {
      font-size: 12px;
    }
  }
}

@media (max-width: 500px) {
  .title-cards {
    h2 {
      font-size: 15px;
    }

    .card-list .card img {
      width: 165px;
    }

    .card-list .card p {
      font-size: 10px;
    }
  }
}
