.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;

  h2 {
    margin-bottom: 8px;
  }

  .card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;

    .card {
      position: relative;

      p {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #00000055;
        padding: 0 5px;
        border-radius: 5px;
      }

      img {
        width: 240px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .card-list::-webkit-scrollbar {
    display: none;
  }
}
