.navbar {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  z-index: 1;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;

  img {
    width: 90px;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 20px;

    li {
      a {
        color: #e5e5e5;
        text-decoration: none;
      }
    }
  }
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;

  .icons {
    width: 20px;
    cursor: pointer;
  }

  .navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;

    .dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      width: max-content;
      background-color: #191919;
      padding: 18px 22px;
      border-radius: 2px;
      text-decoration: underline;
      z-index: 1;
      display: none;

      a {
        font-size: 13px;
        cursor: pointer;
        color: #ffffff;
      }
    }

    .profile {
      border-radius: 4px;
    }
  }

  .navbar-profile:hover .dropdown {
    display: block;
  }
}

.nav-dark {
  background-color: #141414;
}
